*{
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto", open sans-regular;
}
.main-content {
  display: flex;
  flex: 0 0 0;
}

/* aside contacts section */
.aside-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 350px;
  min-height: 100vh;
  margin: 0;
  flex: 0 0 1rem;
  gap: 10px;
 
}
.contact-status {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #E8EBE4;

}
.contact-title {
  display: flex;
  
}

.contact-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
}
.contact-data-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
}
.contact-data h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 2px;
}
.contact-data-title p{
  font-size: 14px;
  margin: 0;
  padding: 5px;
  color: #828485;
}
.contact-data-title h3{
  font-size: 16px;
  margin: 0;
  padding: 2px;
}
.contact-data p {
  font-size: 0.9rem;
  margin: 0;
  padding: 5px;
  color: black;
}

.contact-status img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-left: 6px;
  border: 1px solid #E8EBE4;
}
.contact-title img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0 5px;
  padding-left: 9px;
}
.status-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #BEC1BB;
  margin-left: 60px;
  font-size: 22px;
}
/* button section */
.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
 
}
.button-section .button {
  background-color: #a491d2;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.flex-container {
  background-color:#E8EBE4  ;
  display: flex;
  flex: content;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
}
.main-container img {
  width: 260px;
  border-radius: 10px;
  margin-bottom: 18px;
}
.main-container h1 {
  border: 0;
  padding: 5px;
  font-size:45px;
  margin: 0px;
}

.main-container p {
  text-align: center;
  font-size: 16px;
  padding: 0;
  margin: 0;
}